@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f5f8;
    font-size: 0.8rem;

}


.section {
    width: 90vw;
    max-width: 1170px;
    margin: 80px auto;
}

.heading {
    font-size: 40px;
    font-weight: 700;
    color: #102a42;
    letter-spacing: 3px;
    text-align: center;
}

.tag {
    font-size: 16px;
    font-weight: 400;
    color: #617d98;
    margin: 15px auto;
    text-align: center;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 70px;
}


.hero {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.col-content {
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0px 0px;
}

.tab-btn {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 3px;
    background-color: #dae2ec;
    color: #102a42;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 16px 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.tab-btn.active {
    background-color: #fff;
    color: #102a42;
}

.tab-btn:first-child {
    border-top-left-radius: 10px;
}

.tab-btn:last-child {
    border-top-right-radius: 10px;
}

.content {
    padding: 0 30px;
}

.hide-content {
    display: none !important;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: #102a42;
    letter-spacing: 3px;
    margin: 30px 0px 20px;
    text-transform: capitalize;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #617d98;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

@media (min-width:900px) {
    .content-container {

        grid-template-columns: repeat(2, 1fr);

    }
}